
snippet sysver "" b
import sys
print(sys.version)
endsnippet

snippet "tab trigger"
	${0:yyy}
endsnippet

snippet _
__${1:init}__
endsnippet

snippet ifm "ifmain" bA
if __name__ == '__main__':
	${0}
endsnippet

snippet ifmain "ifmain" b
if __name__ == '__main__':
	${0}
endsnippet
